
<div style="font-size: 85%;
    color: white;
    background-color: #1398d0;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    text-align: center;
    overflow:hidden;
    position:fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10002;
    ">
    <a href="http://www.Dana.com/" class="labelWhite">
        © DANA @DateTime.Now.Year Version: 1.0
    </a>
</div>
