/*body {
    padding-top: 0px;
    padding-bottom: 20px;
}*/
html, body {
    height: 100%;
    background-color: white;
    background-image: url('../Images/gradient_3.png');
    background-repeat: repeat-x;
}

#divNavbarWrapper {
    margin-bottom: 0px;
    border-radius: 0px;
}

#divMainNavbar.navbar-collapse {
    padding: 0px;
}

#mainContainer.container {
    padding-top: 0px;
    padding-bottom: 47px;
    min-height: 100%;
    background-color: #fff;
}

#divMainNavbar.navbar-collapse {
    padding: 0px;
}

.navbar-header {
    margin-left: .22% !important;
}

.navbar-default .navbar-brand {
    color: white;
}

.labelWhite {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-nav > li {
    font-weight: bold;
}
/*.navbar-default .navbar-toggle .icon-bar {
  
   background-color:white;
}*/
/*.navbar-default .navbar-toggle:hover .icon-bar {
   color: #fff;
   background-color: #1398d0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #fff;
  background-color: none;
}*/

/*@media all and (max-width:767px)*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #1398d0;
}
/*@media all and (max-width:767px)*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #fff;
    color: #1398d0;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #1398d0;
    background-color: white;
    border-bottom: 1px solid #1398d0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #1398d0;
    background-color: white;
    /*border-bottom:1px solid #1398d0;*/
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #1398d0;
    border-bottom-color: #1398d0;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    padding: 5px 5px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    background-color: #1398d0;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.leftimage {
    width: 200px;
    height: 0px;
}



.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #428bca;
    white-space: nowrap;
}

.field-validation-error {
    border-radius: 0;
    border-top: 1px solid #d9534f;
    border-right: 1px solid #d9534f;
    border-bottom: 1px solid #d9534f;
    border-left: 3px solid #d9534f;
    background-color: #fdf7f7;
    color: #d9534f;
    font-size: 14px;
    margin: 7px;
    padding: 4px 5px 4px 6px;
    text-align: left;
    width: auto;
    line-height: normal;
    position: relative;
    display: inline-block;
    margin-top: 13px;
}

.custom-validation-summary {
    border-top: 1px solid #d9534f;
    border-right: 1px solid #d9534f;
    border-bottom: 1px solid #d9534f;
    border-left: 3px solid #d9534f;
    background-color: #fdf7f7;
    /*padding: 1px 11px;*/
}

.requiredSymbol {
    font-weight: bold;
    color: #e80c4d !important;
}

.saccCheckbox,
.saccCheckbox:hover {
    cursor: pointer;
}

.actalign {
    text-align: center;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
    background-color: #1398d0;
}

.btn-primary {
    background-color: #1398d0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #1398d0;
    border-color: #1398d0;
}

.panel-primary {
    border-color: #1398d0;
}

    .panel-primary > .panel-heading {
        color: #ffffff;
        background-color: #1398d0;
        border-color: #1398d0;
    }

.tableheight {
    height: 650px;
    overflow: auto;
}


.table tbody tr > td.success {
    background-color: #dff0d8 !important;
}

.trerror {
    border: solid #ff0000 !important;
}

.errorClass {
    color: red;
}

.fixedClass {
    color: green;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
}
/*#region Tooltip*/
#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */ {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

    #tooltip.top:after {
        border-top-color: transparent;
        border-bottom: 10px solid #111;
        top: -20px;
        bottom: auto;
    }

    #tooltip.left:after {
        left: 10px;
        margin: 0;
    }

    #tooltip.right:after {
        right: 10px;
        left: auto;
        margin: 0;
    }
/*#endregion Tooltip*/

/*#region Tableheader*/

table .header-fixed {
    position: fixed;
    top: 40px;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}


/*#endregion Tooltip*/


/*#region Scrollable header*/
.fixed_headers {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    /*.fixed_headers th {
        text-decoration: underline;
    }*/
    .fixed_headers th {
        padding: 2px;
        /*text-align: center;*/
    }

    .fixed_headers tr.active {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .fixed_headers td {
        padding: 1px;
    }

        .fixed_headers td:nth-child(1),
        .fixed_headers th:nth-child(1) {
            width: 17%;
            text-align: left;
        }

        .fixed_headers td:nth-child(2),
        .fixed_headers th:nth-child(2) {
            width: 8%;
            text-align: right;
        }

        .fixed_headers td:nth-child(3),
        .fixed_headers th:nth-child(3) {
            width: 6%;
            text-align: center;
        }

        .fixed_headers td:nth-child(4),
        .fixed_headers th:nth-child(4) {
            width: 6%;
            text-align: center;
        }

        .fixed_headers td:nth-child(5),
        .fixed_headers th:nth-child(5) {
            width: 11%;
            text-align: center;
        }

        .fixed_headers td:nth-child(6),
        .fixed_headers th:nth-child(6) {
            width: 6%;
            text-align: center;
        }

        .fixed_headers td:nth-child(7),
        .fixed_headers th:nth-child(7) {
            width: 6%;
            text-align: center;
        }

        .fixed_headers td:nth-child(8),
        .fixed_headers th:nth-child(8) {
            width: 11%;
            text-align: center;
        }

        .fixed_headers td:nth-child(9),
        .fixed_headers th:nth-child(9) {
            width: 11%;
            text-align: center;
        }

        .fixed_headers td:nth-child(10) {
            width: 6%;
            text-align: center;
        }

    .fixed_headers th:nth-child(10) {
        width: 6%;
        text-align: left;
    }

    .fixed_headers th:nth-child(11) {
        width: 12%;
        text-align: center;
    }

    .fixed_headers td:nth-child(11) {
        width: 12%;
        text-align: right;
    }

    .fixed_headers thead {
        background-color: #1398d0;
        color: #fff;
    }

        .fixed_headers thead tr {
            display: block;
            position: relative;
        }

    .fixed_headers tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 520px;
    }

/*.fixed_headers tbody tr:nth-child(even) {
            background-color: #dddddd;
        }*/

.old_ie_wrapper {
    height: 600px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}

    .old_ie_wrapper tbody {
        height: auto;
    }

.fixed_headers tr:nth-of-type(n) td {
    border-bottom: 1px solid #1398d0;
}

.fixed_headers tr:nth-of-type(2n) td {
    border-bottom: 3px solid #1398d0;
}
/*#endregion Scrollable header*/
.add-item {
    color: #1398d0;
    border: 1px solid #1398d0;
    border-radius: 10px 10px;
}

    .add-item:hover {
        color: white;
        background-color: #1398d0;
        border-color: white;
    }

.lefttext {
    float: right;
}

.showcss {
    display: block;
}

.hidecss {
    display: none;
}


/*#region oldresults*/
.oldfixed_headers tr:nth-of-type(n) td {
    border-bottom: 1px solid #1398d0;
}

.oldfixed_headers tr:nth-of-type(2n) td {
    border-bottom: 3px solid #1398d0;
}

.oldfixed_headers {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .oldfixed_headers th {
        padding: 2px;
    }

    .oldfixed_headers tr.active {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .oldfixed_headers td {
        padding: 1px;
    }

        .oldfixed_headers td:nth-child(1),
        .oldfixed_headers th:nth-child(1) {
            width: 15%;
            text-align: left;
        }

        .oldfixed_headers td:nth-child(2),
        .oldfixed_headers th:nth-child(2) {
            width: 8%;
            text-align: right;
        }

        .oldfixed_headers td:nth-child(3) {
            width: 7%;
            text-align: center;
        }

    .oldfixed_headers th:nth-child(3) {
        width: 6%;
        text-align: center;
    }

    .oldfixed_headers th:nth-child(4) {
        width: 6%;
        text-align: center;
    }

    .oldfixed_headers td:nth-child(4) {
        width: 7%;
        text-align: center;
    }

    .oldfixed_headers td:nth-child(5),
    .oldfixed_headers th:nth-child(5) {
        width: 11%;
        text-align: center;
    }


    .oldfixed_headers td:nth-child(6),
    .oldfixed_headers th:nth-child(6) {
        width: 6%;
        text-align: center;
        color: lightgrey;
    }

    .oldfixed_headers td:nth-child(7),
    .oldfixed_headers th:nth-child(7) {
        width: 6%;
        text-align: center;
        color: lightgrey;
    }

    .oldfixed_headers td:nth-child(8),
    .oldfixed_headers th:nth-child(8) {
        width: 11%;
        text-align: center;
    }

    .oldfixed_headers td:nth-child(9),
    .oldfixed_headers th:nth-child(9) {
        width: 11%;
        text-align: center;
    }

    .oldfixed_headers th:nth-child(10) {
        width: 6%;
        text-align: center;
        color: lightgrey;
    }

    .oldfixed_headers td:nth-child(10) {
        width: 8%;
        text-align: center;
        color: lightgrey;
    }

    .oldfixed_headers th:nth-child(11) {
        width: 12%;
        text-align: center;
    }

    .oldfixed_headers td:nth-child(11) {
        width: 13%;
        text-align: center;
    }

    .oldfixed_headers thead {
        background-color: #1398d0;
        color: #fff;
    }

        .oldfixed_headers thead tr {
            display: block;
            position: relative;
        }

    .oldfixed_headers tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 520px;
    }

/*#endregion oldresults*/
.errorBorderClass
{
background: #FEF1EC;
    border: 1px solid #CD0A0A;
}