
@{
    ViewBag.Title = "LogOff";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}


<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-weight:bold">Logged Off</h3>
    </div>
    <div class="panel-body">
        @ViewBag.Message  !. You have been succesfully logged off. Please close this browser and go to portal to access SPFS.
    </div>
</div>