
@{
    SPFS.Helpers.Utilities util = new SPFS.Helpers.Utilities();
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-weight:bold">  About SPFS  </h3>
    </div>
    <div class="panel-body">
        <h4> What is the Supplier Performance Feedback System (SPFS)?</h4>
        <p> The Supplier Performance Feedback System(SPFS) is a tool used to measure, evaluate, and improve supplier performance.</p>
        <p> The SPFS identifies key performance measures for our supply base that indicate the improvement progress of our Supply Chain.</p>
    </div>
</div>
